<h2 class="text-danger">Access denied</h2>
<p class="text-danger">Je hebt geen toegangsrechten tot deze pagina'</p>

<a href="@Context.Request.Headers.Referer" class="btn-outline-primary ms-3 mt-5">Terug</a>
