@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<a href="@Context.Request.Headers.Referer" class="btn-outline-primary ms-3 mt-5">Terug</a>

