<h2 class="text-danger">Access denied</h2>
<p class="text-danger">You don't have access rights for this resource'</p>

<a href="@Context.Request.Headers.Referer" class="btn-outline-primary ms-3 mt-5">Terug</a>
