@model StaffAccountUpdatePasswordViewmodel

<div class="row">
    <div class="col col-4 mx-auto border border-2 rounded-2">
        <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
        <div class="alert-info">@Model.Firstname @Model.Lastname - Paswoord veranderen</div>
        <form asp-controller="Staff" asp-action="UpdateAccount" asp-route-id="@Model.Id" method="post">
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckPassword"></label>
                <input asp-for="CheckPassword" class="form-control">
                <span asp-validation-for="CheckPassword" class="text-danger"></span>
            </div>
            <a class="ms-3 btn" btn-infoasp-area="Staff" asp-controller="Staff" asp-action="Accounts">Terug</a>

        </form>

    </div>
    </div>


