@model StaffDeleteCompanyViewModel



<div class="row">
    <div class="col coll-lg-8 mx-auto">
        <div class="alert alert-primary" role="alert">
            Weet je zeker dat je het volgende gezelschap wil verwijderen?<h5>@Model.Name</h5>
            <form asp-controller="Company" asp-action="DeleteCompany" asp-route-id="@Model.Id"
                  method="post">
                <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
                <button type="submit" class="btn btn-danger">Verwijder</button>
                <div>
                    <a asp-area="Staff" asp-controller="Company" asp-action="Index" class="btn btn-info"> Terug </a>
                </div>
            </form>
        </div>
    </div>
</div>

