
<h4>Fouten gevonden bij het verwijderen van een gezelschap</h4>
<div>
    Fout: nog voorstellingen gekoppeld aan het gezelschap of het gezelschap is niet gevonden
</div>
<a class="btn-outline-primary mt-3" asp-controller="Company" asp-action="Index" asp-area="Staff">Terug</a>

