
<h1>Fouten gevonden bij het verwijderen van een locatie</h1>
<div>
    Fout: nog voorstellingen gekoppeld aan de locatie of de locatie is niet gevonden
</div>
<a class="btn-outline-primary mt-3" asp-controller="Location" asp-action="Index" asp-area="Staff" >Terug</a>

