<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>De Schakel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="Home" asp-controller="Home" asp-action="Index">
                    <img src="~/images/DeSchakel.jpg" height="75" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <ul class="navbar-nav flex-grow-1">
                            @* aanroep naar viewcomponent*@
                            @await Component.InvokeAsync("NavigationLinks", "Home")
                            @if (User.Identity.IsAuthenticated && !User.IsInRole("Bezoeker"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Staff" asp-controller="Staff" asp-action="Index">Staffzone</a>
                                </li>
                            }
                        </ul>
                    </ul>
                    <ul class="navbar-collapse navbar-right">
                        <li class="nav-item position-relative" style="list-style-type:none">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <a class="btn btn-primary me-3"
                                   asp-area="User" asp-controller="Authentication" asp-action="Register">Maak aan</a>
                                <a class="btn btn-primary"
                                   asp-area="User" asp-controller="Authentication" asp-action="Login">Meld aan</a>
                            }
                            else
                            {
                                if (User.IsInRole("Bezoeker"))
                                {
                                    <a asp-area="User" asp-controller="Authentication" asp-action="Update" class="link-info">
                                        @User.Claims.FirstOrDefault(u => u.Type == "Name")?.Value
                                    </a>
                                }
                                else
                                {
                                    @User.Claims.FirstOrDefault(u => u.Type == "Name")?.Value
                                }
                                <a class="btn btn-primary ms-3"
                                   asp-area="User" asp-controller="Authentication" asp-action="Logout">Meld af</a>
                            }
                            <a class="position-absolute start-100 translate-middle badge rounded-pill bg-danger"
                               asp-area="User" asp-controller="Cart" asp-action="Index">

                                @(Context.Session.GetInt32("NumberOfItems")?? 0)
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - DeSchakel.Client.Mvc - <a asp-area="Home" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type = "text/javascript"  src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
